@model ProjectManagerWeb.Models.UserModel


@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true, "Register New User failed. Please review registration information.")
    
    <div>
        <fieldset>
            <legend>Register New User</legend>
            <div class="editor-lable">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.PasswordFor(u => u.ConfirmPassword)
                @Html.ValidationMessageFor(u => u.ConfirmPassword)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.UserRole)
            </div>
            <div class="editor-label">
                @Html.DropDownListFor(u => u.UserRole, new SelectList(new List<Object> { new { value = "Employee", text = "Employee" }, new { value = "Manager", text = "Manager" } }, "value", "text", "Employee"))
                @Html.ValidationMessageFor(u => u.UserRole)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.FirstName)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.FirstName)
                @Html.ValidationMessageFor(u => u.FirstName)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.LastName)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.LastName)
                @Html.ValidationMessageFor(u => u.LastName)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.Email)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.PhoneNumber)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.PhoneNumber)
                @Html.ValidationMessageFor(u => u.PhoneNumber)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.Position)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.Position)
                @Html.ValidationMessageFor(u => u.Position)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(u => u.TeamName)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(u => u.TeamName)
                @Html.ValidationMessageFor(u => u.TeamName)
            </div>



            <input type="submit" value="Register" />

        </fieldset>
    
    </div>
    
}
